node_modules
artbook
*.png
!dist/img/arm.png
!dist/img/boxedge.png
!dist/img/brassdisk.png
!dist/img/daifukusm.png
!dist/img/gear.png
!dist/img/rose.png
!dist/img/moon.png
!dist/img/star.png
!dist/img/stamp_border.png
!dist/img/volume.png
!dist/img/volumemute.png
*.ico