body {
    font-family: "Merriweather", serif;
}

*:lang(ja) {
    font-family: 'Noto Serif JP', serif;
}

#bg-container {
    width: 100vw;
    height: 100vh;
    /* -webkit-transform: translateZ(0);
    transform: translateZ(0); */
    z-index: -1;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#bg {
    height: 100%;
    background-color: darkslateblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#init-page {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#click-hint {
    position: absolute;
    left: 8%;
    top: 39%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

@keyframes ldio-7p7zzvmvrrd {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 5px;
        left: 5px;
        width: 70px;
        height: 70px;
        opacity: 0;
    }
}

.ldio-7p7zzvmvrrd div {
    position: absolute;
    border-width: 10px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    /*animation: ldio-7p7zzvmvrrd 2.2222222222222223s cubic-bezier(0, 0.2, 0.8, 1) infinite;*/
}

.ldio-7p7zzvmvrrd div:nth-child(1) {
    border-color: #ffffff
}

.ldio-7p7zzvmvrrd div:nth-child(2) {
    border-color: #f8f8f8;
    animation-delay: -1.1111111111111112s;
}

.loadingio-spinner-ripple-3zk4unnnmgj {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-7p7zzvmvrrd {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-7p7zzvmvrrd div {
    box-sizing: content-box;
}

#box-container {
    /* background-color: #333; */
    position: relative;
    margin: 0 auto;
}

/*=Box=*/
.wrapper {
    perspective: 600px;
    perspective-origin: 50% 100px;
    transform: translateY(-10vh) scale(1.5);
    /* If user resizes the screen */
    transition: all 0.5s ease-in-out;
}

#lid {
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    width: 300px;
    transform: rotateX(-25deg);
    transform-style: preserve-3d;
    transition: all 1s ease;
    z-index: 999;
}

#lid:hover {
    transform: rotateX(-22deg);
}

#lid.open {
    transform: rotateX(35deg);
}


#lid div {
    background-image: url(./img/boxlid.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 200px;
    height: 60px;
    box-shadow: inset 0 0 2px rgba(50,50,50,.85);
}

#lid .front, #lid .back, #lid .top,#lid .top-inside, #lid .bottom {
    width: 300px;
}

#lid .top,#lid .top-inside, #lid .bottom {
    background-image: url(./img/boxtop.jpg);
    height: 200px;
}

#lid .front {
    transform: translateZ(200px) translateY(-60px);
}

#lid .back {
    filter: brightness(0.6);
    transform: translateY(-60px) rotateY(180deg);
}

#lid .top {
    transform:  rotateX(-90deg) translateZ(-60px) translateY(-200px);
    transform-origin: top center;
}

#lid .top-inside {
    filter: brightness(0.7);
    transform:  rotateX(-90deg) translateZ(-30px) translateY(-200px);
    transform-origin: top center;
}

#lid .bottom {
    filter: brightness(0.7);
    background-image: url(./img/boxedge.png);
    transform: rotateX(90deg) translateY(200px) translateZ(200px);
    transform-origin: bottom center;
}

#lid .left {
    filter: brightness(0.7);
    transform: rotateY(270deg) translateZ(-19px) translateY(-60px);
    transform-origin: center left;
}

#lid .right {
    filter: brightness(0.5);
    transform: rotateY(-270deg) translateY(-60px) translateZ(81px);
    transform-origin: top right;
}

#box {
    position: relative;
    margin: 0 auto;
    width: 300px;
    transform: rotateX(-25deg);
    transform-style: preserve-3d;
    transition: all 1s ease;
}

#box div {
    background-image: url(./img/boxbody.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 200px;
    height: 120px;
    box-shadow: inset 0 0 2px rgba(59, 49, 46, 0.85);
}

#box div:not(.table-surface) {
    cursor: pointer;
}

#box .front, #box .back, #box .top, #box .bottom {
    width: 300px;
}

#box .top,#box .bottom {
    height: 200px;
}

#box .front {
    transform: translateZ(200px);
}

#box .back {
    filter: brightness(0.8);
    transform: rotateY(180deg);
}

#box .top {
    background-image: url(./img/boxedge.png);
    transform:  rotateX(-90deg) translateY(-200px);
    transform-origin: top center;
}

#box .bottom {
    transform: rotateX(90deg) translateY(200px) translateZ(80px);
    transform-origin: bottom center;
}

#box .left {
    filter: brightness(0.9);
    transform: rotateY(270deg) translateZ(-19px) translateX(0px);
    transform-origin: center left;
}

#box .right {
    filter: brightness(0.7);
    transform: rotateY(-270deg) translateZ(81px);
    transform-origin: top right;
}

#box .table-surface {
    background-image: url(./img/mat.jpg);
    height: 600px;
    width: 600px;
    transform: rotateX(90deg) translateX(-150px) translateY(300px) translateZ(479px);
    transform-origin: bottom center;
    transition: all 1s ease;
}

#door_back:hover ~ #door:not(.open) {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-15deg);
}

#door:hover:not(.open) {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-15deg);
}

#door.open {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

#white-full {
    opacity: 0;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.placeholder {
   /* height: 50vh; */
}

#welcome-msg {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 2em;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

#scroll-arrow-hint span {
    display: block;
    width: 24px;
    height: 24px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: scrolldown 2s infinite;
}

#scroll-arrow-hint span:nth-child(2) {
    animation-delay: -0.2s;
}

#scroll-arrow-hint span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes scrolldown {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.sect-title {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 15vh;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border-style: solid;
    border-width: thick;
    border-color: #E987AC;
    border-radius: 25px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;

    text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

.sect-title-deco {
    background-image: url('img/aqua_chibi_2.png');
    background-size: contain;
    background-repeat: no-repeat;

    width: 4rem;
    height: 7rem;
    position: absolute;
    z-index: -1;
    right: 9px;
    bottom: -3px;
}

#cover-video {
    background-color: darkslateblue;
    padding-bottom: 100px;
    padding-top: 1px;
}

#cover-video-container {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* #cover-audio-container {
    width: 88%;
    margin-left: 5%;
}

#cover-audio-container audio {
    display: none;
} */

#letter-msgs {
    border-top: 3px solid rgb(124, 44, 74);
    box-shadow: 0 -4px 0 1px rgba(10, 10, 10, .15);
}

#letter-msgs, #artbook {
    background-image: url(./img/seamless.jpg);
    background-size: contain;
    background-repeat: repeat;
    padding: 1px;
}

#artbook {
    border-bottom: 5px solid rgb(64, 44, 44);
}

#letter-msgs>.card-columns {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7vh;
}

.letter-msg-card-container {
    margin-bottom: 10px;
}

.letter-msg-card {
    padding: 10px;
    box-shadow: 5px 8px 20px -5px rgba(10, 10, 10, 0.75);
    border-color: aliceblue;
    border-radius: 0;
    border-style: dashed;
    border-width: thick;
}

.letter-msg-card.card {
    margin-bottom: 3.7rem;
}

.letter-msg p {
    white-space: pre-wrap;
}

blockquote>p {
    font-family: 'Merriweather', serif;
}

.msg-deco {
    /* background-image: url('img/aqua_chibi.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    width: 5rem;
    height: 4rem;
    position: absolute;
    top: -52px;
    left: 0;
}

.sender-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sender-name-container {
    flex: 1;
    min-width: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.sender-name {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.twitter-name {
    font-size: 1rem;
    font-style: italic;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.stamp-outer {
    background-image: url(./img/stamp_border.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 90px;
    position: relative;
    width: 90px;
}

.stamp-inner {
    overflow: hidden;
    position: absolute;
    top: 6px;
    left: 7px;
    bottom: 26px;
    right: 6px;
    background-color: lightblue;
}

.stamp-inner[data-code="us"]{
    background-color: cornflowerblue;
}

.stamp-inner[data-code="jp"]{
    background-color: darkseagreen;
}

.stamp-inner[data-code="id"]{
    background-color: lightseagreen;
}

.stamp-inner[data-code="ca"]{
    background-color: burlywood;
}

.stamp-inner[data-code="au"]{
    background-color: silver;
}

.stamp-inner[data-code="nz"]{
    background-color: lavender;
}

.stamp-inner[data-code="gb"]{
    background-color: plum;
}

.stamp-inner[data-code="ph"]{
    background-color: goldenrod;
}

.stamp-inner[data-code="sg"]{
    background-color: cadetblue;
}

.stamp-inner[data-code="vn"]{
    background-color: lightpink;
}

.stamp-inner[data-code="kz"]{
    background-color: yellowgreen;
}


.stamp-amt {
    font-family: "Merriweather";
    font-size: 1.4em;
    position: absolute;
    color: rgba(255,255,255,0.90);
    margin-left: -2px;
    margin-top: -4px;
}

.country-name {
    font-family: cursive;
    font-size: 0.7em;
    font-weight: 600;
    height: 30px;
    margin-left: 4px;
    color: rgba(0,0,0,0.5);
}

.flag-icon {
    font-size: 2rem;
    margin: 4px;
    box-shadow: 0 0 3px rgb(100 100 100);
}

#artbook-gallery {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#artbook a {
    margin: 0.5rem;
    margin-bottom: 3.7rem;
    border: 9px solid rgb(250,250,250);
    box-shadow: 5px 8px 20px -5px rgba(10, 10, 10, 0.75);
}

#credits {
    background-color: darkslateblue;
    color: white;
    font-family: 'Noto Serif JP', serif;
    padding: 15px;
}

#credits a,
#credits a:hover {
    color:white;
}

#credits p {
    margin-bottom: 0;
}

.credits-section {
    padding: 15px;
}

/* smallest */
@media (max-width: 700px) {
    #letter-msgs .card-columns {
        column-count: 1;
    }

    /*=Box=*/
    .wrapper {
        transform: translateY(-10vh) scale(0.8);
    }
}

/* medium */
@media (min-width: 700px) {
    #welcome-msg {
        font-size: 3em;
    }
    /*=Box=*/
    .wrapper {
        transform: translateY(-10vh) scale(1.1);
    }
    #letter-msgs .card-columns {
        column-count: 2;
    }
}

/* largest */
@media (min-width: 1000px) {
    #letter-msgs .card-columns {
        column-count: 3;
    }
    /*=Box=*/
    .wrapper {
        transform: translateY(-10vh) scale(1.3);
    }
}

/* medium lrg */
@media (min-width: 1200px) {
    /*=Box=*/
    .wrapper {
        transform: translateY(-10vh) scale(1.5);
    }
}

@media (min-width: 1400px) {}